<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayfont</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/presupuesto.css">
</head>
    <!--HEADER CON NAVEGACIÓN-->
    <header>
        <img id="logofont" src="/assets/images/mantenimiento-de-fontaneria.png" width="123" height="123" alt="logo empresa">
        <h1 id="encabezado1">Rayfont</h1>
        <nav class="navigationBar">
            <ul class="navigationBarList">
                <li>
                    <a class="enlace active" href="/index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="./productos.html">Productos</a>
                </li>
                <li>
                    <a class="enlace" href="./presupuesto.html">Presupuesto</a>
                </li>
                <li>
                    <a class="enlace" href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <!--SECTION CON H2 Y FORMULARIO-->
    <section>
        <h2>Presupuesto sin compromiso</h2>
        <br>
        <p class="presupuesto">Consulte su presupuesto sin compromiso con nuestro formulario, cumplimentando sus datos nos pondremos en contacto a la mayor brevedad.<br>
        En Rayfont lanzamos los mejores precios del mercado con el proposito de satisfacer a nuestros clientes, ofreciendoles siempre el mejor servicio de calidad.<br>
        No dude en avisarnos a través de nuestro formulario, facilitandonos sus vías de contacto nuestro equipo se pondrá en marcha para brindarles un presupuesto<br>
        competitivo y con ello un servicio de calidad con los mejores materiales en el sector.</p>
        <br><br><br><br><br>
        <div class="sectionform">
            <form id="form" action="#" method="post">
                <ul class="flex-outer">
                    <li>
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" 
                        placeholder="Escriba su nombre" pattern="[a-zA-Z áÁéÉíÍóÓúÚñÑüÜ]+"
                        minlength="2" maxlength="20">
                    </li>
                    <li>
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" 
                        placeholder="Escriba sus apellidos" pattern="[a-zA-Z áÁéÉíÍóÓúÚñÑüÜ]+"
                        minlength="4" maxlength="40">
                    </li>
                    <li>
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" 
                        placeholder="Escriba su email" pattern="[\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+]">
                    </li>
                    <li>
                        <label for="telefono">Teléfono</label>
                        <input type="text" id="telefono" name="telefono" 
                        placeholder="Escriba su número de teléfono" pattern="[0-9]{9}">
                    </li>
                    <li>
                        <label for="campo" id="informacion">Más Información</label>
                        <textarea class="campo" id="campo" name="campo" placeholder="Escriba más información" 
                            minlength="3" maxlength="400"></textarea>
                    </li>
                </ul>
                <input class="botton" type="submit" value="Enviar formulario">
            </form><br><br>
            <a class="politica" href="https://es.wikipedia.org/wiki/Pol%C3%ADtica_de_privacidad">Acepte Política de Privacidad</a>
        </div>
    </section>
    <!--FOOTER CON RRSS Y AVISO LEGAL-->
    <footer>
        <p class="footer">
            <br>2024 ®Rayfont | Tlf.: 000-000-000 |
            Dirección: C/ Tubería, nº 000, Las Palmas de Gran Canaria, CP: 00000
            | Horario: De lunes a viernes de 08:00h a 20:00h | Siguenos en @Rayfont | 
            <a class="aviso" href="https://es.wikipedia.org/wiki/Aviso_legal">Aviso Legal</a>                            
        </p>
        <a class="icon" href="https://www.instagram.com/">
            <img src="/instagram.ico" alt="Instagram" width="32">
        </a>
        <a class="icon" href="https://www.facebook.com/">
            <img src="/facebook.ico" alt="facebook" width="32">
        </a>
        <a class="icon" href="https://www.tiktok.com/">
            <img src="/tik-tok.ico" alt="tik-tok" width="32">
        </a>
        <a class="icon" href="https://www.x.com/">
            <img src="/X.ico" alt="X" width="32">
        </a>
    </footer>
</html>