<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rayfont</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/productos.css">
</head>
    <!--HEADER CON NAVEGACIÓN-->
    <header>
        <img id="logofont" src="/assets/images/mantenimiento-de-fontaneria.png" width="123" height="123" alt="logo empresa">
        <h1 id="encabezado1">Rayfont</h1>
        <nav class="navigationBar">
            <ul class="navigationBarList">
                <li>
                    <a class="enlace active" href="/index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="/views/productos.html">Productos</a>
                </li>
                <li>
                    <a class="enlace" href="/views/presupuesto.html">Presupuesto</a>
                </li>
                <li>
                    <a class="enlace" href="/views/contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <!--SECTION H2 Y CUADRÍCULA DE IMAGENES-->
        <div class="productos">
            <h2>Nuestros productos</h2><br><br>
        </div>
        <div class="cuadricula">
            <img src="/assets/images/bajo_fregadero.png" width="200" height="200" alt="bajo fregadero">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/bajo_lavamano.png" width="200" height="200" alt="bajo lavamano">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/fontanero_suelo.png" width="200" height="200" alt="fontanero en suelo">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/grifo.png" width="200" height="200" alt="grifo">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/instalación.png" width="200" height="200" alt="instalación">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/llavedepaso.png" width="200" height="200" alt="llaves de paso">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/manos_fontanero.png" width="200" height="200" alt="manos de fontanero">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/manosyllaves.png" width="200" height="200" alt="manos y llaves">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/materialyherramientas.png" width="200" height="200" alt="material y herramientas">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/llavedepaso.png" width="200" height="200" alt="llaves de paso">
        </div>
        <div class="cuadricula">
            <img src="/assets/images/fontanero_suelo.png" width="200" height="200" alt="fontanero en suelo">
        </div>
    </section>
    <!--FOOTER CON RRSS Y AVISO LEGAL-->
    <footer>
        <p class="footer">
            <br>2024 ®Rayfont | Tlf.: 000-000-000 | 
            Dirección: C/ Tubería, nº 000, Las Palmas de Gran Canaria, CP: 00000
            | Horario: De lunes a viernes de 08:00h a 20:00h | Siguenos en @Rayfont | 
            <a class="aviso" href="https://es.wikipedia.org/wiki/Aviso_legal">Aviso Legal</a>                            
        </p>                               
        <a class="icon" href="https://www.instagram.com/">
            <img src="/instagram.ico" alt="Instagram" width="32">
        </a>
        <a class="icon" href="https://www.facebook.com/">
            <img src="/facebook.ico" alt="facebook" width="32">
        </a>
        <a class="icon" href="https://www.tiktok.com/">
            <img src="/tik-tok.ico" alt="tik-tok" width="32">
        </a>
        <a class="icon" href="https://www.x.com/">
            <img src="/X.ico" alt="X" width="32">
        </a>
    </footer>
</html>